row-col-gpio {
    compatible = "gpio-keys";

    input-gpios = <
        &gpio0  2 GPIO_ACTIVE_LOW> // ROW0 → D0
        &gpio0  3 GPIO_ACTIVE_LOW> // ROW1 → D1
        &gpio0 28 GPIO_ACTIVE_LOW> // ROW2 → D2
        &gpio0 29 GPIO_ACTIVE_LOW> // ROW3 → D3
    >;

    output-gpios = <
        &gpio0  4 GPIO_ACTIVE_LOW> // COL0 → D4
        &gpio0  5 GPIO_ACTIVE_LOW> // COL1 → D5
        &gpio1 11 GPIO_ACTIVE_LOW> // COL2 → D6
        &gpio1 12 GPIO_ACTIVE_LOW> // COL3 → D7
        &gpio1 13 GPIO_ACTIVE_LOW> // COL4 → D8
        &gpio1 14 GPIO_ACTIVE_LOW> // COL5 → D9
    >;

    label = "ROW_COL";
};
