Run west build -s zmk/app -d "/tmp/tmp.qwyQugwHpj" -b "xiao_ble//zmk"  -- -DZMK_CONFIG=/tmp/zmk-config/config -DSHIELD="chipper_left" -DZMK_EXTRA_MODULES='/__w/zmk-corne/zmk-corne' 
+ west build -s zmk/app -d /tmp/tmp.qwyQugwHpj -b xiao_ble//zmk -- -DZMK_CONFIG=/tmp/zmk-config/config -DSHIELD=chipper_left -DZMK_EXTRA_MODULES=/__w/zmk-corne/zmk-corne
-- west build: generating a build system
Loading Zephyr default modules (Zephyr base).
-- Application: /tmp/zmk-config/zmk/app
-- CMake version: 3.31.6
-- Found Python3: /usr/bin/python3 (found suitable version "3.12.3", minimum required is "3.10") found components: Interpreter
-- Cache files will be written to: /tmp/zmk-config/zephyr/.cache
-- Zephyr version: 4.1.0 (/tmp/zmk-config/zephyr)
-- Found west (found suitable version "1.5.0", minimum required is "0.14.0")
CMake Deprecation Warning at keymap-module/modules/modules.cmake:53 (message):
  The `config/boards` folder is deprecated.  Please use a module instead.
  See https://zmk.dev/docs/development/hardware-integration/new-shield and
  https://zmk.dev/docs/development/module-creation for more information.
Call Stack (most recent call first):
  /tmp/zmk-config/zephyr/cmake/modules/zephyr_module.cmake:126 (include)
  /tmp/zmk-config/zephyr/cmake/modules/zephyr_default.cmake:134 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:66 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:92 (include_boilerplate)
  CMakeLists.txt:9 (find_package)


-- Adding ZMK config directory as board root: /tmp/zmk-config/config
CMake Warning at /tmp/zmk-config/zephyr/cmake/modules/boards.cmake:136 (message):
  BOARD_ROOT element without a 'boards' subdirectory:

  /__w/zmk-corne/zmk-corne

  Hints:

    - if your board directory is '/foo/bar/boards/my_board' then add '/foo/bar' to BOARD_ROOT, not the entire board directory
    - if in doubt, use absolute paths
Call Stack (most recent call first):
  /tmp/zmk-config/zephyr/cmake/modules/zephyr_default.cmake:134 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:66 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:92 (include_boilerplate)
  CMakeLists.txt:9 (find_package)


-- Board: xiao_ble, qualifiers: nrf52840/zmk
-- Shield(s): chipper_left
Checking /__w/zmk-corne/zmk-corne
Checking /tmp/zmk-config/zmk/app/module
Checking /tmp/zmk-config/zmk/app
found /tmp/zmk-config/zmk/app
-- ZMK Config directory: /tmp/zmk-config/config
-- ZMK Config Kconfig: /tmp/zmk-config/config/chipper.conf
xiao_ble_nrf52840_zmk for _nrf52840_zmk for xiao_ble with version 
-- ZMK Config Kconfig: /tmp/zmk-config/config/chipper.conf
-- Using keymap file: /tmp/zmk-config/config/chipper.keymap
Checking /tmp/zmk-config/config
-- Using keymap file: /tmp/zmk-config/config/chipper.keymap
Checking /tmp/zmk-config/zephyr
-- ZEPHYR_TOOLCHAIN_VARIANT not set, trying to locate Zephyr SDK
-- Found host-tools: zephyr 0.16.9 (/opt/zephyr-sdk-0.16.9)
-- Found toolchain: zephyr 0.16.9 (/opt/zephyr-sdk-0.16.9)
-- Found Dtc: /opt/zephyr-sdk-0.16.9/sysroots/x86_64-pokysdk-linux/usr/bin/dtc (found suitable version "1.6.0", minimum required is "1.4.6")
-- Found BOARD.dts: /tmp/zmk-config/zmk/app/boards/seeed/xiao_ble/xiao_ble_zmk.dts
-- Found devicetree overlay: /tmp/zmk-config/config/boards/shields/chipper/chipper_left.overlay
-- Found devicetree overlay: /tmp/zmk-config/config/chipper.keymap
devicetree error: /tmp/zmk-config/config/boards/shields/chipper/chipper.dtsi:1 (column 1): parse error: expected '/' or label reference (&foo)
CMake Error at /tmp/zmk-config/zephyr/cmake/modules/dts.cmake:303 (execute_process):
  execute_process failed command indexes:

    1: "Child return code: 1"

Call Stack (most recent call first):
  /tmp/zmk-config/zephyr/cmake/modules/zephyr_default.cmake:134 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:66 (include)
  /tmp/zmk-config/zephyr/share/zephyr-package/cmake/ZephyrConfig.cmake:92 (include_boilerplate)
  CMakeLists.txt:9 (find_package)


-- Configuring incomplete, errors occurred!
FATAL ERROR: command exited with status 1: /usr/local/bin/cmake -DWEST_PYTHON=/usr/bin/python3 -B/tmp/tmp.qwyQugwHpj -GNinja -DBOARD=xiao_ble//zmk -DZMK_CONFIG=/tmp/zmk-config/config -DSHIELD=chipper_left -DZMK_EXTRA_MODULES=/__w/zmk-corne/zmk-corne -S/tmp/zmk-config/zmk/app
Error: Process completed with exit code 1.
0s
2s
Run if ! (grep "CONFIG_ZMK_BOARD_COMPAT=y" "/tmp/tmp.qwyQugwHpj/zephyr/.config" > /dev/null)
grep: /tmp/tmp.qwyQugwHpj/zephyr/.config: No such file or directory
Error: The selected board is not set up for ZMK and there is a ZMK variant available. See https://zmk.dev/blog/2025/12/09/zephyr-4-1#zmk-board-variant.
Error: Process completed with exit code 1.
